@import url('https://fonts.googleapis.com/css2?family=Lato:wght@100;300;400;700;900&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Lato', sans-serif;
}

header {
    padding: 25px 15px;
}

header h1 {
    font-weight: 900;
    font-size: 45px;
    color: #434343;
    letter-spacing: 3px;
}

ul {
    margin-left: 45px;
    margin-bottom: 25px;
}

h2, h3 {
    margin: 0 0 15px 25px;
    color: rgb(19, 97, 9);
}

ul li {
    margin-left: 45px;
    line-height: 25px;
}